.main{
    padding: 4rem;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flexBox1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8rem;
}

.dog{
    width: 30%;
    height: auto;
}
